body{
    color:pink;
    background-color: plum;
    margin:0px;
    font-family: "Playwrite USA Modern",sans-serif;
    margin-bottom: 100px;
}

header{
    border-bottom: solid 2px rgb(255, 249, 249);
    padding: 20px;
    font-size: 32px;
    color:rgb(0, 0, 0)
}

section{
    background: purple;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
    .chamada-texto{
        margin-right: 5%;
    } 
    h1{
        font-size: 40px;
    } 
    p{
        font-size: 20px;
    }
    img{
        height: 200px;
    } 
    .categoria-videos{ 
        display: flex; 
        overflow-x: auto;
         gap: 10px
         } 
         .categoria{
             padding-left: 20px;
              padding-rigth: 20px;
              margin-top: 50px;
             }
             .categoria-video img {
                opacity: 0,5;
                height: 200px;
             }
             .categoria-videos img-hover{
                opacity: 1,0;
                border: 1px solid paleturquoise;
             }
             .categoria h2{
                color: blue;
             }
    
             

                                    