body{
    color:rgb(88, 16, 16);
    background-color: rgb(12, 42, 87);
    margin:0px;
}

header{
    border-bottom: solid 2px rgb(255, 249, 249);
    padding: 20px;
    font-size: 32px;
    color:rgb(0, 0, 0)
}

section{
    background: rgb(3, 65, 3);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}